@media(max-width:1599px) {
    .home-banner::after{
      width: 300px;
    }
  }
  @media(max-width:1499px) {
    .home-banner::after{
      width: 150px;
    }
  }
  @media(max-width:1399px) {
    #menu ul li{
      margin-left: 0;
    }
    h1 {
      font-size: 67px;
      line-height: 73px;
  }
  .home-banner::after{
    width: 300px;
  }
  .inner-banner{
    background-position-y: 100% !important;
  }
  .product-box .info {
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: column-reverse;
    align-items: start;
  }
  .product-box .info .price h3 {
    margin-bottom: 5px;
  }
  .product-box .info .price{
    margin-top: 10px;
  }
  p{
    font-size: 18px;
  }
  }
  @media(max-width:1299px) {
    .home-banner::after{
      width: 250px;
    }
  }
  @media(max-width:1199px) {
    #menu ul li a{
      font-size: 16px;
    }
  }
  @media (max-width:1099px) {
    .home-banner::after{
      width: 200px;
    }
  }
  @media(max-width:991px){
    header {position: relative;top: 0;left: 0;width: 100%; z-index: inherit;border-bottom: 1px solid #fff;}
    .topbar { width:100%; position:relative;z-index: 999; border-bottom: 1px solid #C8C6CD;} 
    .topbar .logo img{margin:15px 0;max-width: 250px;}.topbar ul.top_right_contents{padding:0 ;margin:8px 0 0 0;list-style:none;color: #000; text-align: center;}
    .topbar ul.top_right_contents li{vertical-align:middle; position:relative; display: inline-block; line-height: 1;text-align: end;}
    .topbar ul.top_right_contents li a.menu_open i {font-size: 30px;color: var(--text-white);}.topbar.sticky{margin:0;position:fixed;top:0;left:0;width:100%;z-index:999;animation-name:menu_sticky;animation-duration:.6s;animation-timing-function:ease-out; -webkit-box-shadow:rgba(255,255,255,0.2) 0 0 10px; box-shadow:rgb(155, 153, 153) 0 0 10px; backdrop-filter: blur(5px);background: var(--text-white);}.topbar.sticky .logo img {
      margin: 10px 0;
      max-width: 200px;
  }
  .topbar ul.top_right_contents{padding:0;margin:0;list-style:none; text-align: right;}
  .topbar ul.top_right_contents li{vertical-align:middle; position:relative; display: inline-block;
      margin-right: 20px;  line-height: 1;}
  .topbar ul.top_right_contents li:last-child {margin-right: 0;}
  .topbar ul.top_right_contents li a {color:#fff; line-height: 1;}
  .topbar ul.top_right_contents li a i {font-size: 26px;}
  .topbar ul.top_right_contents li a i.user { font-size: 34px;}
  .topbar ul.top_right_contents li a.menu_open i {font-size: 32px;color: #000;}
  .menu_overlay {position: fixed; top:0; right:0; bottom:0; left:0; z-index:9999; background: rgba(0,0,0,0.75);}
  .menu_toggler {margin:15px 0 0;}
  .menu_toggler .icons {font-size:26px; color:#212121}
  .menu_head {background:#000;text-align: center; position: relative;color:#fff;}
  .menu_head a {color:#fff; padding:15px 10px; display: inline-block; font-weight: 500; font-size: 16px;}
  .menu_close {text-align: end;padding: 0;padding:5px 20px 0 0;}
  .menu_close i {font-size:20px; color: #fff;}
  .mobile_menu_wrap {position: fixed; top:0px; bottom: 0; right:-100%; z-index:99999; background:var(--bg-color); padding:0 0 75px; transition: all linear 0.2s; max-width: 80%; width: 300px; height: 100vh;}
  .mobile_menu_wrap .form-control{width: 80%;}
  .mobile_menu_wrap.menu_show {right:0;}
  .mobile_menu_wrap ul {padding:0; margin:10px 0 0 0; list-style:none; font-size: 16px;font-weight: 400;}
  .mobile_menu_wrap ul.main_menu {margin-bottom:10px;}
  .mobile_menu_wrap ul.main_menu li{color: #fff;}
  .main_menu li.active a{color:var(--text-color);font-weight: bold;}
  .main_menu li a:hover,.topbar .top-links a:hover{color:var(--text-color);}
  .mobile_menu_wrap ul.main_menu li a {font-size:16px; text-decoration: none;}
  .mobile_menu_wrap ul li a {position: relative; display: block; padding:10px 30px;width: 100%; color: #fff ;}
  .mobile_menu_wrap ul li.hassub { padding:0 0px 0 15px;position: relative;width: 100%;display: inline-block;}
  .mobile_menu_wrap ul li.hassub .sub_menu_open {position: absolute;right: 0;top: 0;font-size: 18px;padding: 6px 20px;width:fit-content;text-align: end;}
  .mobile_menu_wrap ul li.hassub ul {position: fixed; top:0; bottom:0; right:-100%; max-width: 80%; width: 220px;       background:var(--bg-color); margin:0; transition: all linear 0.3s; padding:48px 0 100px; overflow: auto; z-index: 9; visibility:hidden;}
  .mobile_menu_wrap ul li.hassub ul.show_submenu {visibility: visible; right: 0;}
  .mobile_menu_wrap ul li.hassub ul li.back_to_mainmenu {position: absolute; top:0; width: 100%; background: #000;left: 0;padding-left: 10px;}
  .mobile_menu_wrap ul li.hassub ul li.back_to_mainmenu a {font-size:15px; color: #fff; padding:10px 0;}
  .mobile_menu_wrap ul li.hassub ul li.back_to_mainmenu a i.fa { margin-right: 5px;}
  
  .home-banner::after{
    display: none;
  }
  .home-banner img.big-img{
    display: none;
  }
  .home-banner img.small-img {
    display: block;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 53px;
    line-height: 54px;
  }
  h2{
    font-size: 43px;
    line-height: 51px;
  }
  #featured-slider .owl-next,
  #featured-slider .owl-prev{
    top: -70px;
    height: 55px;
    width: 55px;
  }
  .img-box:nth-last-child(1) {
    margin-bottom: 20px;
  }
  .residential h2 {
    margin-bottom: 10px;
  }
  .commercial h2 {
    margin-bottom: .5rem;
  }
  .form-sec .img-left{
    max-width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }
  .form-sec .form-box form {
    margin-top: 35px;
  }
  .testimonials{
    background: #fff !important;
    padding: 15px 0;
  }
  .testimonials::before{
    display: none;
  }
  #testimonials-slider {
    transform: translateX(0px);
    width: 100%;
  }
  #testimonials-slider .item .top-img{
    width: 75px;
    height: 75px;
    top: -40px;
    left: -40px;
  }
  #testimonials-slider .item .top-img img {
    width: 40px;
  }
  #testimonials-slider.owl-carousel .owl-stage-outer {
    padding-top: 40px;
  }
  #testimonials-slider .owl-dots {
    margin-top: 30px;
  }
  #testimonials-slider .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
  }
  footer .container{
    padding-top: 50px;
  }
  footer .footer-links{
    margin-top: 20px;
  }
  footer .copyright {
    padding: 25px 0;
    margin-top: 30px;
  }
  .inner-banner .container h1{
    font-size: 45px;
  }
  .inner-banner{
    min-height: 260px;
  }
  #sync1.owl-carousel .owl-item .item{
    height: auto;
  }
  #sync2 .item{
    height: 100px;
  }
  #sync2 {
    margin-bottom: 20px;
  }
  .deatil-sec h2{
    line-height: 70px;
  }
  .product-box .info {
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: row;
    align-items: center;
  }
  .blog-box h3{
    font-size: 22px;
    line-height: 32px;
  }
  .blog-box .top-img{
    height: 210px;
  }
  .vision .vision-img {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  
  }
  .vision-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .vision-content h2 {
    margin-bottom: 15px;
  }
  .our-team{
    padding-top: 0;
  }
  .our-team .team-box{
    margin-top: 20px;
  }
  .our-team .heading{
    margin-bottom: 20px;
  }
  .blog .row{
    row-gap: 20px;
  }
  .blog .heading, .residential .heading {
    margin-bottom: 30px;
  }
  .services-sec .services-box .image {
    height: 240px;
  }
  }
  @media (max-width:767px) {
    h1 {
      font-size: 43px;
      line-height: 43px;
  }
  h2{
    font-size: 38px;
    line-height: 52px;
  }
  h3{
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  #featured-slider {
    margin-top: 80px;
  }
  section {
    padding: 50px 0;
  }
  .img-box .text .btn {
    padding: 6px 20px !important;
    font-size: 12px !important;
  }
  .form-sec .img-left{
    height: 380px;
  }
  .form-sec .form-box form {
    margin-top: 30px;
  }
  #testimonials-slider {
    transform: translateX(0px);
    width: 100%;
  }
  #testimonials-slider .item{
    padding: 25px;
    max-width: 80%;
    margin: auto;
  }
  footer .footer-links{
    flex-wrap: wrap;
    gap: 5px;
  }
  .inner-banner .container h1 {
    font-size: 37px;
    line-height: 48px;
  }
  .inner-banner {
    min-height: 200px;
  }
  #sync2 .item{
    height: 70px;
  }
  .deatil-sec .price h3 {
    font-size: 38px;
  }
  .deatil-sec .price h4 {
    font-size: 20px;
  }
  .deatil-sec .apartment,
  .deatil-sec .apartment .apart-detail {
    margin-top: 25px;
  }
  .deatil-sec .apartment .apart-detail{
    row-gap: 10px;
  }
  .apartment .apart-detail p {
    font-size: 22px;
  }
  .overview {
    padding-top: 0px;
  }
  .overview ul.over-info li{
    font-size: 16px;
  }
  .overview .form-box h5 {
    font-size: 20px;
  }
  .discription .text {
    margin-top: 30px;
  }
  .services-sec .services-box {
    margin-top: 20px;
  }
  .product-box .info .price{
    margin-top:0px;
  }
  .product-box .image {
    height: 280px;
  }
  .product-box .text {
    bottom: 50px;
  }
  .blog .heading, .residential .heading {
    margin-bottom: 30px;
  }
  .propertie-details-sec h2 {
    margin-bottom: 15px;
  }
  .propertie-details-sec p strong {
    font-size: 16px;
  }
  }
  @media (max-width:575px) {
    .topbar .logo img {
      max-width: 190px;
  }
  .topbar ul.top_right_contents li a.menu_open i {
    font-size: 26px;
  }
  section {
    padding: 35px 0;
  }
    h1 {
      font-size: 36px;
      line-height: 36px;
  }
  h2{
    font-size: 30px;
    line-height: 32px;
  }
  .home-banner .nav-fill .nav-item {
    height: 45px;
  }
  .home-banner .switch-tab .tab-content {
    padding: 15px;
  }
  .home-banner .nav-pills .nav-link{
    font-size: 14px;
  }
  p {
    font-size: 16px;
  }
  #featured-slider .item .text h3,
  .product-box .text h3{
    font-size: 20px;
    line-height: 27px;
  }
  #featured-slider .item .info .price h3,
  .product-box .info .price h3{
    margin-bottom: 10px;
  }
  #featured-slider .owl-next, #featured-slider .owl-prev {
    top: -55px;
    height: 40px;
    width: 40px;
    font-size: 16px !important;
  }
  #featured-slider .owl-prev {
    right: 60px;
  }
  #featured-slider {
    margin-top: 60px;
  }
  .img-box .text{
    padding: 15px;
  }
  .why-us .count{
    font-size: 80px;
  }
  .why-us .row {
    row-gap: 15px;
  }
  .why-us .text {
    position: relative;
    margin-top: 10px;
  }
  .form-sec .form-box form {
    margin-top: 20px;
  }
  .form-sec form input[type="submit"] {
    height: 35px;
  }
  #testimonials-slider{
    margin-top: -15px;
  }
  #testimonials-slider .item .text p {
    font-size: 14px;
  }
  #testimonials-slider .item .top-img {
    width: 60px;
    height: 60px;
    top: -30px;
    left: -30px;
  }
  #testimonials-slider .item .top-img img {
    width: 32px;
  }
  #testimonials-slider .item .text{
    height: 150px;
    margin-bottom: 5px;
  }
  #testimonials-slider .item .title h4{
    line-height: 15px;
    margin-top: 10px;
    font-size: 18px;
  }
  #testimonials-slider .item .title p {
      font-size: 14px;
    }
  .client-sec {
    padding: 10px 0;
  }
  .copyright{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .copyright,footer .social-links{
    text-align: center;
  }
  footer .copyright {
    padding: 20px 0;
    margin-top: 21px;
  }
  footer h4{
    margin-bottom: 20px;
  }
  footer a.btn {
    padding: 8px 20px;
  }
  footer h4 {
    font-size: 25px;
  }
  footer ul li{
    font-size: 14px;
  }
  .inner-banner {
    min-height: 150px;
  }
  .breadcrumbs-main {
    padding: 10px 0;
  }
  #sync2 {
    margin-top: 5px;
  }
  #sync1 .item .flag {
    padding: 10px;
  }
  #sync1 .item .flag .btn {
    padding: 3px 16px !important;
    font-size: 12px;
  }
  .deatil-sec h2 {
    line-height: 55px;
  }
  .deatil-sec .price h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .deatil-sec .price h4 {
    font-size: 18px;
  }
  .deatil-sec .apartment, .deatil-sec .apartment .apart-detail {
    margin-top: 15px;
  }
  .discription h3, .overview h3 {
    font-size: 26px;
  }
  .apartment .apart-detail p {
    font-size: 18px;
  }
  .overview h4 {
    font-size: 22px;
  }
  .overview ul.over-info li{
    font-size: 14px;
    gap: 20px;
  }
  .discription .text {
    margin-top: 20px;
  }
  .discription .text p {
    font-size: 14px;
    line-height: 26px;
  }
  .services-sec .services-box .text {
    margin-top: 10px;
  }
  .services-sec .services-box .text p {
    font-size: 16px;
  }
  ul.breadcrumbs li{
    font-size: 14px;
  }
  .blog-box .top-img{
    height: 200px;
  }
  .our-team .team-box{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  .our-team .heading {
    margin-bottom: 20px;
  }
  .blog .heading, .residential .heading {
    margin-bottom: 10px;
  }
  .propertie-details-sec p strong {
    font-size: 14px;
  }
  .propertie-details-sec .big-image {
    margin-bottom: 15px;
  }
  .services-sec .services-box .image {
    height: 200px;
  }
  }
  @media (max-width:500px) {
    #featured-slider .item .info,
    .product-box .info {
      display: flex;
      align-items: start;
      gap: 5px;
      flex-direction: column-reverse;
      margin-top: 15px;
  }#featured-slider .item .info .price h3,
  .product-box  .info .price h3{
    margin-bottom: 5px;
  }
  p{
    font-size: 14px;
  }
  .form-sec .img-left {
    height: 280px;
  }
  .inner-banner .container h1 {
    font-size: 30px;
    line-height: 43px;
  }
  .inner-banner .container h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .services-sec .services-box .text p {
    font-size: 14px;
  }
  .blog-box p {
    font-size: 14px;
    line-height: 27px;
  }
  }